    <%if session[:user_id] == nil %>
    <h1>You aren't signed in!</h1>
    <h2>Make a free account to start tailoring your feed!</h2>
    <% else %>
    <h3>Want to post? Start by going to the pieces page and selecting part of your outfit!</h3>
    <hr>
    
    <h1>Your feed</h1>
    <%end%>

<hr>
<% my_following = Following.where( :follower_id => session[:user_id])%>
<table>
  <% my_following.each do |a_user|%>
  <% followed_leader_id = Following.where( :leader_id => a_user.leader_id).at(0)%>
  <%followed_user = User.where( :id => followed_leader_id.leader_id).at(0)%>
  <%user_posts = Post.where( :owner_id => followed_user.id).order('created_at desc')%>
  <tr>
  <% user_posts.each do |a_post|%>
  
  <td> 
  <img src="<%= a_post.image%>" alt="Image of the fit" style="width:250px;height:auto;">
  </td>
  <td>
  <%= a_post.caption%>
  </td>
  <%post_owner = User.where( :id => a_post.owner_id).at(0)%>
  <td>
  <a href="/user/<%= post_owner.username%>"><%= post_owner.username%></a>
  </td>
  </tr>
  <% end %>
<% end %>
</table>