<h1>Sign In!</h1>

<form action="/verify_user" method="post">

  
  <div>
    <label for="username_box">Username</label>
      
    <input type="text" id="username_box" name="query_username" placeholder="Enter your username...">
  </div>
         
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Enter your password..." type="password">
  </div>

  <button>
    Sign in!
  </button>
</form>